<h1>
    User Profile
</h1>
<p>
    After Login the user will reach here.
</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<% practices.forEach(function (practice) { %>
   <li> <%= practice.username %></li> <!-- note you defined the field as Name not name -->
   <li> <%= practice.email %></li> <!-- note you defined the field as Name not name -->
   <li> <%= practice.mobile %></li> <!-- note you defined the field as Name not name -->
<% }) %>
<!--  -->

